<div style="width: calc(100vw - 30px); justify-content: center;">

  <div class="form-field" style="text-align: center; margin-top: 70px;">
    <h1 style="width: 100%;">Pogoda w mieście</h1>
  </div>

  <div class="form-field">
    <mat-form-field style="width: 100%" appearance="fill">
      <mat-label>Proszę wprowadzić miasto</mat-label>
      <input matInput type="text" [(ngModel)]="textInput" (keyup.enter)="findWeather()">
      <button *ngIf="textInput" matSuffix mat-icon-button aria-label="Clear" (click)="textInput=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </div>

  <div class="button-field">
    <button style="width: 100%;" mat-raised-button color="primary" (click)="findWeather()">Szukaj</button>
  </div>


  <div>
    <mat-grid-list [cols]="cols">
      <mat-grid-tile *ngFor="let item of weatherList; index as i;" style="margin-top: 30px;">
        <mat-card class="example-card" style="min-width: 250px;">
          <mat-card-subtitle>{{item.currentWeather.description}}</mat-card-subtitle>
          <mat-card-title>{{item.name}} [{{item.sys.country}}]</mat-card-title>
          <mat-card-content>
            <img [src]="item.currentWeather.getIcon()" alt="icon">
            <p style="font-size: 30px; font-weight: bold;">{{item.main.temp}}° C</p>
            <p style="font-weight: 600;">Ciśnienie: {{item.main.pressure}}</p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button (click)="deleteWeather(i)">USUŃ</button>
          </mat-card-actions>
          <mat-card-footer>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
