<div style="width: calc(100vw - 30px); justify-content: center;">

  <div class="form-field" style="text-align: center; margin-top: 70px;">
    <h1 style="width: 100%;">Pogoda w mieście</h1>
  </div>

  <div class="form-field">
    <mat-form-field style="width: 100%" appearance="fill">
      <mat-label>Proszę wprowadzić miasto</mat-label>
      <input matInput type="text" [(ngModel)]="textInput" (keyup.enter)="findWeather()">
      <button *ngIf="textInput" matSuffix mat-icon-button aria-label="Clear" (click)="textInput=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </div>

  <div class="button-field">
    <button style="width: 100%;" mat-raised-button color="primary" (click)="findWeather()">Szukaj</button>
  </div>


  <div class="form-field" *ngFor="let item of weatherList" style="margin-top: 30px;">
    <mat-card class="example-card">
      <mat-card-subtitle>{{item.currentWeather.description}}</mat-card-subtitle>
      <mat-card-title>{{item.name}} [{{item.sys.country}}]</mat-card-title>
      <mat-card-content>
        <img [src]="item.currentWeather.getIcon()" alt="icon">
        <p style="font-size: 30px; font-weight: bold;">{{item.main.temp}}° C</p>
        <p style="font-weight: 600;">Ciśnienie: {{item.main.pressure}}</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-button>USUŃ</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>

</div>
<!-- api.openweathermap.org/data/2.5/weather?q=London&appid=6890862a72fc7aabfe2222f2f2b1d4b0 -->

