<div style="width: calc(100vw - 30px); justify-content: center;">

  <section class="section about-section gray-bg" id="about">
    <div class="container">
      <mat-grid-list cols="5" style="width: 100%;" rowHeight="60vh">
        <mat-grid-tile colspan="2">
          <div style="margin-left: 50px;">
            <img alt="team"
                 src="https://thumbs.dreamstime.com/b/men-multicolored-vector-work-team-illustration-business-design-concept-minimalistic-design-modern-66414757.jpg">
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <div class="about-text" style="margin: 30px;">
            <h3 class="dark-color">O nas</h3>
            <br>
            <p>SanProject to zespół ekspertów IT i naukowców zajmujących się danymi, który od 2014 roku zajmuje się
              analizą głębokich danych pogodowych. Dla każdego punktu na kuli ziemskiej udostępnia historyczne, bieżące
              i prognozowane dane pogodowe za pośrednictwem interfejsów API prędkości światła. Siedziba w Warszawie.</p>
            <p>Zastrzeżona splotowa sieć neuronowa zbiera i przetwarza szeroką gamę źródeł danych, aby objąć dowolną
              lokalizację i uwzględnić lokalne niuanse klimatu.

              Zbieramy i przetwarzamy dane pogodowe z różnych źródeł, takich jak globalne i lokalne modele pogodowe,
              satelity, radary i rozległa sieć stacji pogodowych.</p>

            <p>Szybkie i wygodne monitorowanie bieżących warunków pogodowych i szkodliwych warunków pogodowych (mrozu,
              burzy itp.) na polach dla rolników w celu zminimalizowania ryzyka strat i bardziej wydajnego
              rolnictwa.</p>

            <p>Prognozy krótkozasięgowe do ustawiania alertów pogodowych w celu efektywnego planowania trasy i
              minimalizowania ryzyka utraty (opóźnienia/uszkodzenia ładunku).</p>

            <p>Wykorzystanie historycznych danych pogodowych do weryfikacji roszczeń w momencie zdarzenia
              ubezpieczeniowego. Zarządzanie istniejącym ryzykiem poprzez prognozy i aktualne dane pogodowe.</p>

            <p>Modele prognozowania sprzedaży w branżach wrażliwych na warunki pogodowe (żywność, napoje, rozrywka).
              Kompleksowa analityka mierząca wpływ pogody na konkretny biznes/projekt.</p>

            <p>Dokładne, oparte na danych prognozowanie podaży i popytu na energię. Porady handlowe oparte na
              spostrzeżeniach z prognozowanych danych pogodowych.</p>
            <div class="btn-bar">
              <button mat-stroked-button color="primary" style="font-size: 20px" routerLink="/">Sprobuj teraz</button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </section>
</div>
